* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 11, 53);
    color: white;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(75, 62, 139);
}

nav ul {
    display: flex;
    justify-content: center;
}

.left {
    font-size: 1.5rem;
    margin-left: 150px;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.first {
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.first > div {
    width: 35%;
}

.leftsection {
    font-size: 2.2rem;
    margin: 30px;
    margin-top: 90px;
}

.rightsection img {
    width: 80%;
    height: auto;
    margin: 30px;
}

.purple {
    color: blueviolet;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-size: 1.01;
    color: rgb(143, 143, 236);
}

#element {
    color: rgb(143, 143, 236);
}

.secondsection {
    max-width: 80px;
    margin-left: 100px;
    height: 80vh;
}

main hr {
    border: 0;
    height: 2.5px;
    margin: 40px 80px;
    background-color: #9c97f1;
}

.secondsection h1 {
    font-size: 20px;
    white-space: nowrap;
}

.text-gray {
    color: gray;
    white-space: nowrap;
    font-size: 10px;
}

.secondsection .box {
    background-color: white;
    height: 2px;
    width: 80vw;
    margin: 100px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top {
    width: 30px;
    position: relative;
    margin-top: -220px;
    margin-left: 0px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 80px;
    width: 150px;
    font-size: 9px;
    color: gray;
}

.leftsection .buttons {
    padding: 50px 0;
}

.leftsection .btn {
    padding: 12px;
    color: white;
    background-color: #1e2167;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
}
.profile-photo {
    width: 120px;   
    height: 80px;  
    border-radius: 50%;  
    object-fit: cover;   
    border: 7px solid #1e2167;   
}
    